# system
.DS_Store
__pycache__/
*.pyc
.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# pliki instalacyjne
*.egg-info/

# duże dane (jak się kiedyś pojawią)
data/
*.sp3
*.clk
*.rnx
*.nc
*.zip

.venv/
venv/
env/
.venv/
venv/
env/
*.egg-info/
build/
dist/

.venv/
__pycache__/
.pytest_cache/

outputs/
output/
results/
tmp/
logs/
reports/
validation_out/

sample_data/output/
sample_data/tec_output/
examples/output/

*.pkl
*.pickle
*.parquet
*.parquet.gzip
*.feather
*.npy
*.npz
*.h5
*.hdf5

.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
pip-wheel-metadata/
