astropy==7.0.0
astropy-iers-data==0.2026.1.5.0.43.43
Cartopy==0.24.1
certifi==2026.1.4
cftime==1.6.5
contourpy==1.3.3
cycler==0.12.1
filterpy==1.4.5
fonttools==4.61.1
georinex==1.16.2
-e git+https://github.com/HJpierzchala/GNX.git@586ee02e4fff53dc6dd0478ae3b3013b800dc46a#egg=gnx_py
hatanaka==2.8.1
importlib_resources==6.5.2
kiwisolver==1.4.9
llvmlite==0.46.0
matplotlib==3.10.8
ncompress==1.0.2
netCDF4==1.7.4
numba==0.63.1
numpy==2.3.5
packaging==25.0
pandas==2.3.3
pillow==12.1.0
pyarrow==22.0.0
pyerfa==2.0.1.5
pyparsing==3.3.1
pyproj==3.7.2
pyshp==3.0.3
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
scipy==1.16.3
shapely==2.1.2
six==1.17.0
tzdata==2025.3
xarray==2025.12.0
